:root {
	/* colors */
	--frontpage_background_color: #F9A03F;
	--article-background_color: #4ECDC4;
	--newsletter-background_color: #F27B63;

	--secondary_background_color: #000000;
	--headline_color: #FFFFFF;



}