@import url(/_app/css/variables.css);

main {
	background-color: var(--frontpage_background_color);
	width: 100%;
	max-width: 870px;
	height: 100%;
	margin: 0px auto 0px auto;
}

body {
	background-image: url(/_app/assets/images/Background-image-frontpage.avif);
	background-size: cover;
}

#article-card__container {
	width: 100%;
	max-width: 870px;
	height: 100%;
	padding: 13px 11px 13px 11px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 19px;
}

.article__card {
	width: 270px;
	height: 400px;
	background-color: var(--secondary_background_color);
	cursor: pointer;
}

.article__card-image {
	height: 218px;
	width: 100%;
	object-fit: cover;
}

.article__card-title {
	height: 182px;
	width: 270px;
	color: var(--headline_color);
	font-weight: var(--inter_regular_weight);
	font-size: 25px;
	text-align: center;
	padding-top: 18px;
}

.article__card:hover {
	transform: scale(1.01);
}

.article__card:hover .article__card-title {
	color: var(--article_background_color)
}

@media (max-width: 870px) {
	.header, .header__button{
		background-color: var(--secondary_background_color);
	}

	.header__button {
		color: var(--frontpage_background_color);
	}

	.header__newsletter-button:hover {
		color: var(--newsletter_background_color);
		background-color: var(--secondary_background_color);
	}

	.header__newsletter-button-container, .header__menu-button-container {
		border: 3px var(--frontpage_background_color) solid;
	}

	#article-card__container {
		padding: 3px 10px;
		grid-template-columns: repeat(1, 1fr);
		gap: 10px;
	}

	.article__card {
		width: 370px;
		height: 400px;
		margin: auto;
	}

	.article__card-title {
		margin: auto;
	}
}