header {
	background-color: var(--frontpage_background_color);
	height: 56px;
	width: 100%;
}

.header__container {
	max-width: 1512px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__button {
	font-size: 30px;
	font-weight: 600;
	background-color: var(--frontpage_background_color);
	width: 197px;
	height: 40px;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: none;
}

.header__newsletter-button-container, .header__menu-button-container, .header__title-container {
	background-color: black;
	width: 321px;
	height: 56px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header__title {
	font-size: 50px;
	font-weight: var(--inter_light_weight);
	color: var(--frontpage_background_color);
}